/*----------------GENERAL---------------------*/

ul, li {
  list-style: none;
  padding: 0;
}

.color {
  --dark_grey: #313639;
  --grey: #595d60;
  --light_grey: #707070;
  --white: #fff;
  --black: #000;
  background-color: var(--dark_grey);
}

.bkg {
  /*background-size: 280px;*/
  /*background: url(/img/logo_bkg.svg) 100% 65% no-repeat fixed var(--dark_grey);*/
  width: 87vw;
  /*height: 100px;*/
  position: fixed;
  /*background-image: url(/img/logo_bkg-1.svg);*/
  background-repeat: no-repeat;
  bottom: 20%;
  right: 0;
  z-index: -9999;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 270px;
  margin: 0 10px;
}

.visually-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0;
  padding: 0;
}

.js__no_scroll {
  overflow-y: hidden;
  height: 100%;
}

.body_fading:before {
  content: '';
  position: fixed;
  top: 40px;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to bottom, var(--dark_grey) 0,rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(49,54,57,1), rgba(49,54,57,0));
}


/*---------------- MENU ---------------------*/

.header_color {
  background-color: var(--black);
}

.header_size {
  padding: 0 10px;
  position: fixed;
  width: 100vw;
  height: 40px;
  z-index: 1000;
  overflow: hidden;
}

.header_animation {
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(-40px);
  animation: mov .7s;
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes mov {
  100% { transform: translateY(0px); }
}

.menu__icon_style {
  background-color: var(--white);
  width: 18px;
  height: 1px;
  display: block;
  margin: 0 0 8px 0;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-font-smoothing: antialiased;
}

.menu__icon_position {
  height: 10px;
  display: block;
  position: absolute;
  top: 15px;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .menu__icon_position > .menu__icon_top-position {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
  transition: 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.150s;
}

#checkbox:checked ~ .menu__icon_position > .menu__icon_bottom-position {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
  transition: 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.150s;
}

#checkbox:checked ~ .menu__icon_position {
  transform: rotate(90deg);
  transition: all 0.350s cubic-bezier(0.86, 0, 0.07, 1);
}

.opened {
  height: 100%;
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu_state {
  display: flex;
  justify-content: space-between;
}

.menu__item_position {
  margin: 50px 0 0 0;
}

.img__logo-top_size {
  width: 70px;
  margin: 11px 23px 0 0;
}

.menu_state > .menu__item_position > .menu__item_animation {
  opacity: 0;
  transform: scale(1) translateY(-15px) translateX(-15px);
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
}

#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation {
  opacity: 1;
  transform: scale(1.5) translateY(15px) translateX(15px);
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
}

#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation:nth-child(1) {
  transition-delay: .2s;
}
#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation:nth-child(2) {
  transition-delay: .4s;
}
#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation:nth-child(3) {
  transition-delay: .7s;
}




/*---------------- MENU ---------------------*/






/*---------------- FONTS ---------------------*/

.main__title_fonts {
  /*font: normal 600 28px/36px 'IBM Plex Sans' sans-serif;*/
  font: normal 600 calc(28px + (30 - 28) * ((100vw - 320px) / (1300 - 320)))/36px 'IBM Plex Sans' sans-serif;
  color: var(--grey);
  -webkit-font-smoothing: antialiased;
}

.main__subtitle_fonts {
  /*font: normal 500 15px 'IBM Plex Sans' sans-serif;*/
  font: normal 500 calc(15px + (17 - 15) * ((100vw - 320px) / (1300 - 320)))/14px 'IBM Plex Sans' sans-serif;
  color: var(--grey);
  -webkit-font-smoothing: antialiased;
}

.main__paragraph_fonts {
  /*font: normal 300 16px/28px 'IBM Plex Sans' sans-serif;*/
  font: normal 300 calc(16px + (18 - 16) * ((100vw - 320px) / (1300 - 320)))/30px 'IBM Plex Sans' sans-serif;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

.menu__item_fonts {
  text-decoration: none;
  font: normal 400 16px/45px 'IBM Plex Sans' sans-serif;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

.main__footer_fonts {
  font: normal 300 10px/20px 'IBM Plex Sans' sans-serif;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}


/*---------------- FONTS ---------------------*/



/*---------------- MAIN ---------------------*/

.main__text_margin, .main__text_start-margin {
  margin: 0 0 50px 0;
}

.main__block_margin {
  margin: 0 0 25vh 0;
}

.main__block_start-position {
  margin: 35vh 0 25vh 0;
}

.main__subblock_margin {
  margin: 100px 0 0 0;
}

.main__subtitle_margin {
  margin: 0 0 10px 0;
}

.contact_margin {
  margin: 10px 0;
}

.main__img_size {
  width: 100%;
}

.orientation {
  display: none;
}

.main_start {
  margin-top: 100vh;
  opacity: 0;
}

/*---------------- MAIN ---------------------*/



/*---------------- FOOTER ---------------------*/

footer > .main__logo_size {
  display: none;
}

.footer_position {
  text-align: center;
}

/*---------------- FOOTER ---------------------*/



/*---------------- ANIMATION ---------------------*/





/*---------------- ANIMATION ---------------------*/

/*.main__title-animation {
  display: flex;
  margin: 5px 0 0 0;
  flex-direction: row;
  height: 32px;
  overflow: hidden;
}

.main__title-animaton_move {
  padding: 0 0 0 7px;
  position: relative;
  top: 0;
  animation: move 2.7s cubic-bezier(0.86, 0, 0.07, 1);
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  z-index: -1;
  animation-fill-mode: forwards;
}

@keyframes move{
0%  { top: 0px;}
40% { top: -32px;}
100% { top: -64px; }
}*/











/*---------------- MEDIA ---------------------*/

@media (max-height: 414px) and (orientation: landscape) {
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }
   .main__title_fonts, .main__paragraph_fonts, .main__subtitle_fonts, .main__footer_fonts, .header_color-size, .bkg, .main__img_size, .main__block_start-position, .main__block_margin  {
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .orientation {
    display: flex;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 20vh;
  }
  .orientation__phone_size {
    width: 70px;
    height: 145px;
    border: 1px solid var(--black);
    border-radius: 10px;
  }
  .orientation_fonts {
    font: normal 300 calc(16px + (18 - 16) * ((100vw - 320px) / (1300 - 320)))/30px 'IBM Plex Sans' sans-serif;
  color: var(--white);
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    margin: 0 30px;
  }
  .bkg {
    width: 70vw;
    left: 0;
  }
  .body_fading:before {
    top: 0;
    height: 60px;
  }
  .img__logo-top_size {
    display: none;
  }
  .menu__icon_position {
    display: none;
  }
  .header_size {
    height: 100px;
  }
  .menu_state > .menu__item_position > .menu__item_animation {
    opacity: 1;
    transform: scale(1) translateY(15px) translateX(15px)
  }
  .header_color {
    background-color: rgba(0,0,0,0);
  }
  .header_animation {
  transform: translateY(0px);
  animation: none;
  }
  .menu__item_position {
    margin: 0;
  }
  .main__title_fonts {
    font: normal 600 calc(46px + (56 - 46) * ((100vw - 600px) / (1300 - 600)))/65px 'IBM Plex Sans' sans-serif;
  }
  .main__subtitle_fonts {
    font: normal 500 calc(17px + (19 - 17) * ((100vw - 600px) / (1300 - 600)))/14px 'IBM Plex Sans' sans-serif;
  }
  .main__paragraph_fonts {
    font: normal 300 calc(18px + (20 - 18) * ((100vw - 600px) / (1300 - 600)))/32px 'IBM Plex Sans' sans-serif;
  }
  .menu__item_fonts {
    line-height: 30px;
  }
  .main__footer_fonts {
    font: normal 300 10px/20px 'IBM Plex Sans' sans-serif;
  }
  .main__block_margin {
    margin: 0 0 25vh 30vw;
  }
  .main__block_start-position {
    margin: 35vh 0 25vh 30vw;
  }
  .main__text_width {
    max-width: 470px;
  }
  .main__paragraph_width {
    max-width: 460px;
  }
}

/*
320 1.5 2 2.4 3
360 1 1.5 1.8 2 2.75 3 4
414 1.5 2.5 3

600 1 1.325 1.5 2
768 1 1.5 2

1024 1.5 2
1280
1440
2560

*/







