/*----------------GENERAL---------------------*/

ul, li {
  list-style: none;
  padding: 0;
}

.color {
  --dark_grey: #313639;
  --grey: #595d60;
  --light_grey: #707070;
  --white: #fff;
  --black: #000;
  background-color: var(--dark_grey);
}

.bkg {
  /*background-size: 280px;*/
  /*background: url(/img/logo_bkg.svg) 100% 65% no-repeat fixed var(--dark_grey);*/
  width: 280px;
  height: 100px;
  position: fixed;
  /*background-image: url(/img/logo_bkg-1.svg);*/
  background-repeat: no-repeat;
  bottom: 20%;
  right: 0;
  z-index: -9999;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 270px;
  margin: 0 10px;
}

.visually-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0;
  padding: 0;
}

.js__no_scroll {
  overflow-y: hidden; ;
  height: 100%;
}


/*---------------- MENU ---------------------*/

.header_color-size {
  background-color: var(--black);
  padding: 0 10px;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 40px;
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  overflow: hidden;
}

.header_fading:before {
  content: '';
  position: fixed;
  top: 40px;
  left: 0;
  height: 40px;
  width: 100%;
  background: linear-gradient(to bottom,#313639 0,rgba(0,0,0,0) 100%);
}

.menu__icon_style {
  background-color: var(--white);
  width: 18px;
  height: 1px;
  display: block;
  margin: 0 0 8px 0;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu__icon_position {
  height: 10px;
  display: block;
  position: absolute;
  top: 15px;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .menu__icon_position > .menu__icon_top-position {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
  transition: 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.150s;
}

#checkbox:checked ~ .menu__icon_position > .menu__icon_bottom-position {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
  transition: 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.150s;
}

#checkbox:checked ~ .menu__icon_position {
  transform: rotate(90deg);
  transition: all 0.350s cubic-bezier(0.86, 0, 0.07, 1);
}

.opened {
  height: 100%;
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu_state {
  display: flex;
  justify-content: space-between;
}

.menu__item_position {
  margin: 50px 0 0 0;
}

.img__logo_size {
  width: 70px;
  margin: 11px 23px 0 0;
}

.menu_state > .menu__item_position > .menu__item_animation {
  opacity: 0;
  transform: scale(1) translateY(-15px) translateX(-15px);
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
}

#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation {
  opacity: 1;
  transform: scale(1.5) translateY(15px) translateX(15px);
  transition: all 0.550s cubic-bezier(0.86, 0, 0.07, 1);
}

#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation:nth-child(1) {
  transition-delay: .2s;
}
#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation:nth-child(2) {
  transition-delay: .4s;
}
#checkbox:checked ~ .menu_state > .menu__item_position > .menu__item_animation:nth-child(3) {
  transition-delay: .7s;
}


/*---------------- MENU ---------------------*/






/*---------------- FONTS ---------------------*/

.main__title_fonts {
  font: normal 600 28px/36px 'IBM Plex Sans' sans-serif;
  color: var(--grey);
}

.main__subtitle_fonts {
  font: normal 500 15px 'IBM Plex Sans' sans-serif;
  color: var(--grey);
}

.main__paragraph_fonts {
  font: normal 300 16px/28px 'IBM Plex Sans' sans-serif;
  color: var(--white);
}

.menu__item_fonts {
  text-decoration: none;
  font: normal 400 16px/45px 'IBM Plex Sans' sans-serif;
  color: var(--white);
}

.main__footer_fonts {
  font: normal 300 10px/20px 'IBM Plex Sans' sans-serif;
  color: var(--white);
}


/*---------------- FONTS ---------------------*/



/*---------------- MAIN ---------------------*/

.main__text_margin {
  margin: 0 0 50px 0;
}

.main__block_margin {
  margin: 0 0 200px 0;
}

.main__block_start-position {
  margin: 40% 0 200px 0;
}

.main__subblock_margin {
  margin: 100px 0 0 0;
}

.main__subtitle_margin {
  margin: 0 0 10px 0;
}

.contact_margin {
  margin: 10px 0;
}

.main__img_size {
  width: 100%;
}

.main__block_margin:first-child {
  margin-top: 100px;
}

/*---------------- MAIN ---------------------*/



/*---------------- FOOTER ---------------------*/

footer > .main__logo_size {
  display: none;
}

.footer_position {
  text-align: center;
}

/*---------------- FOOTER ---------------------*/



/*---------------- ANIMATION ---------------------*/





/*---------------- ANIMATION ---------------------*/

.main__title-animation {
  display: flex;
  margin: 5px 0 0 0;
  flex-direction: row;
  height: 32px;
  overflow: hidden;
}

.main__title-animaton_move {
  padding: 0 0 0 7px;
  position: relative;
  top: 0;
  animation: move 2.7s cubic-bezier(0.86, 0, 0.07, 1);
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  z-index: -1;
  animation-fill-mode: forwards;
}

@keyframes move{
0%  { top: 0px;}
40% { top: -32px;}
100% { top: -64px; }
}


















/*---------------- MEDIA ---------------------*/



/*
320 1.5 2 2.4 3
360 1 1.5 1.8 2 2.75 3 4
414 1.5 2.5 3

600 1 1.325 1.5 2
768 1 1.5 2

1024 1.5 2
1280
1440
2560

*/







