/*----------------GENERAL---------------------*/

li {
  list-style: none;
  padding: 0;
}

.color {
  --dark_grey: #313639;
  --grey: #595d60;
  --light_grey: #707070;
  --white: #fff;
  --black: #000;
}

.bkg {
  background-color: var(--dark_grey);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 270px;
  max-width: 676px;
  margin: 0 auto;
  padding: 0 25px;
}

.visually-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0;
  padding: 0;
}

/*---------------- MENU ---------------------*/
.menu__item_fonts {
  font: normal 400 18px/35px 'IBM Plex Sans', sans-serif;
  color: var(--black);
}

.menu__item_style {
  text-decoration: none;
  color: var(--white);
}

.menu__icon_style {
  width: 17px;
  height: 1px;
  background-color: var(--white);
  display: block;
}

.menu__icon_top-position {
  position: absolute;
  top:0;
}

.menu__icon_bottom-position {
  position: absolute;
  bottom: 0;
}

.menu__icon_position {
  position: fixed;
  top: 15px;
  left: 5px;
  width: 17px;
  height: 10px;
}


/*---------------- MAIN ---------------------*/
.main__title_fonts {
  font: normal 600 30px/32px 'IBM Plex Sans', sans-serif;
  color: var(--grey);
}

.main__title_style {
  margin: 140px 0 65px 0;
}

.main__subtitle_fonts {
  font: normal 500 15px/19px 'IBM Plex Sans', sans-serif;
  color: var(--light_grey);
}

.main__subtitle_style {
  margin: 65px 0 10px;
}

.main__paragraph_fonts {
  font: normal 300 16px/22px 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.main__paragraph_style {
  padding: 0;
  margin: 0 0 65px;
}

.main__image_size {
  max-width: 200px;
}

.main__image_center {
  display: block;
  margin: 0 auto 65px;
}

.contact {
  margin-left: 0;
}

.main__logo_size {
  width: 60px;
  height: 15px;
  position: fixed;
  bottom: 50px;
  left: -18px;
  transform: rotate(-90deg);
}

.img__logo_size {
  width: 100%;
}


#checkbox {
  display: none;
}

.menu_hidden {
  display: none;
}

#checkbox:checked ~ nav {
  display: block;
}

#checkbox:checked ~ .menu__icon_position .menu__icon_top-position {
  transform: rotate(45deg);
  top: 5px;
  transition-duration: .3s;
}

#checkbox:checked ~ .menu__icon_position .menu__icon_bottom-position {
  transform: rotate(-45deg);
  bottom: 4px;
  transition-duration: .3s;
}




/*---------------- MEDIA ---------------------*/

@media (min-width: 321px) and (max-width: 413px) {

}

@media (min-width: 414px) and (max-width: 767px) {
  .main__image_size {
    width: 250px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape;) {

}








